<?xml version="1.0" encoding="utf-8" ?>
<config>
   <params>
   </params>
   
	<fieldset
		name="Common"
		label="Common"
		description="Common">
	</fieldset>		   
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_adalogin"
			section="component" />
	</fieldset>	
</config>