<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset	name="categories" label="PVOKS_CATEGORIES"	description="PVOKS_CATEGORIES_DESC">
		<field
			name="parent_id" type="sql"
			label="PVOKS_PARENT_ID"
			description="PVOKS_PARENT_ID_DESC"
			menuitems="true"
			extension="com_pvoks"
			view="categories"
			query="select id as value, title from #__pvoks_categories union all select 0,' root' order by 2,1"
		/>
	</fieldset>
	
	<fieldset	name="members" label="PVOKS_MEMBERS"	description="PVOKS_MEMBERS_DESC">
		<field
			name="category_id" type="sql"
			label="PVOKS_CATEGORY_ID"
			description="PVOKS_CATEGORY_ID_DESC"
			menuitems="true"
			extension="com_pvoks"
			view="members"
			query="select id as value, title from #__pvoks_categories order by 2,1"
		/>
	</fieldset>
	
	<fieldset	name="questions" label="PVOKS_QUESTIONS"	description="PVOKS_QUESTIONS_DESC">
		<field
			name="category_id" type="sql"
			label="PVOKS_CATEGORY_ID"
			description="PVOKS_CATEGORY_ID_DESC"
			menuitems="true"
			extension="com_pvoks"
			view="questions"
			query="select id as value, title from #__pvoks_categories order by 2,1"
		/>
	</fieldset>
	
	<fieldset	name="acrediteds" label="PVOKS_ACREDITEDS"	description="PVOKS_ACREDITEDS_DESC">
		<field
			name="category_id" type="sql"
			label="PVOKS_CATEGORY_ID"
			description="PVOKS_CATEGORY_ID_DESC"
			menuitems="true"
			extension="com_pvoks"
			view="acrediteds"
			query="select id as value, title from #__pvoks_categories order by 2,1"
		/>
	</fieldset>
	
	<fieldset	name="options" label="PVOKS_OPTIONS"	description="PVOKS_OPTIONS_DESC">
		<field
			name="question_id" type="sql"
			label="PVOKS_QUESTION_ID"
			description="PVOKS_QUESTION_ID_DESC"
			menuitems="true"
			extension="com_pvoks"
			view="qoptions"
			query="select id as value, title from #__pvoks_questions order by 2,1"
		/>
	</fieldset>
	
	
	
</config>
